
/*Estilo geral*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); /*Google Fontes*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: rgb(0, 0, 0);
    height: 100vh;
    color: white;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-image: linear-gradient(to right, #ebc678, #e6561d);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .1s;
}

h2.titulo{
    color: white;
    font: 38px;
    text-align: center;
}

h2.titulo span{
    background-image: linear-gradient(to left, black,rgb(19, 8, 19));
    border-radius: 30px;
    color: rgb(145, 64, 145);;
}

button:hover, form .btn-enviar input:hover{
    box-shadow: 0px 0px 8px #f9e4b7b2;
    transform: scale(1.05);
    color: wheat;
}
/*Estilo do cabeçahlho */
.flex{
    display: flex;
}
header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .links{
    color: rgb(194, 188, 188);
    text-decoration: none;
    transition: .1;
}

header .links :hover{
    background-image: linear-gradient(to right, #ebc678, #e6561d);
    border-radius: 30px;
    color: black;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}


header nav ul li{
    display: inline-block;
    padding: 0 40px;
}



/*Estilo do topo do site*/

section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    font-size:42px;
    color: #fff;
    line-height: 40px;
}

.topo-do-site h1 span{
    color: rgb(95, 42, 95);
    font-size: 48px;
}

.topo-do-site .txt-topo-site p{
    margin: 40px 0;
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}


/*EStilo das especialidades*/
section.especialidades{
    padding: 40px 4%;

}

section.especialidades .flex{
    gap: 60px;
}
.especialidades .especialidades-box{
    margin-top: 45px;
    border-radius: 20px;
    padding: 40px;
    transition: .1s;
}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 15px white;
}
.especialidades .especialidades-box i{
    font-size: 70px;
    color: #ebc678;
}

.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0;
}

/*EStilo Imagem*/
 main .img-topo-site img{
    
    border-radius: 50%;
    height: 300px;
    object-fit: cover;
    width: 300px; 
}

main .img-sobre img{
    
    border-radius: 20px;
    object-fit: cover;
    
}

/*EStilo Sobre*/

section.sobre{
    margin-left: 30px;
    padding: 70px 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre h2{
    font-size: 35px;
    line-height: 40px;
    margin-bottom: 25px;
}

.sobre .txt-sobre h2 span{
    display: block;
    color: #ebc678;
}

.sobre .txt-sobre p{
    margin: 15px 0px;
    text-align: justify;
}

.btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-image: linear-gradient(to right,#e6561d, #ebc678);
    font-size: 21px;
    margin: 0 6.5px;
    transition: .1s;
}

/*Estilo Portifolio*/
section.portifolio{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px rgba(128, 128, 128, 0.293);
}

section.portifolio .flex{
    margin-top: 60px;
    justify-content: space-around; /*Para dar uma respirada centralizada*/
}
.img-port{
    width: 360px;
    height: 460px;
    background-color: #ebc678;
    background-size: cover; /*Para eu centralizar minha imagem*/
    background-position: 100% 0%; /*Para eu centralizar minha imagem*/
    transition: .8s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
}

.img-port:hover{
    background-position: 100% 100%;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.83);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: .5s;
}

.overlay:hover{
    opacity: 1;
}

/*EStilo do formulario de contato*/

section.formulario{
    padding: 80px 4%;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;

}

form input, textarea{
    width: 100%;
    background-color: rgb(43, 39, 39);
    border: 0px;
    outline: 0px; /*Serve para tirar o contorno*/
    padding: 20px 15px;
    border-radius: 15px;
    font-size: 18px;
    color: white;
}

form input::placeholder{
    color: rgb(132, 92, 132);
}

form textarea{
    resize: none;
    max-height: 200px;
}

form .btn-enviar{
    margin-top: 15px;
    text-align: center;
    
}

form .btn-enviar input{
    line-height: 15px;
    width: 150px;
    background-color: rgb(121, 69, 121);
    color: black;
    cursor: pointer;
    font-weight: 700;
    transition: .1s;

}

/* Estilos de Ropadé*/

footer{
    padding: 30px 4%;
    box-shadow: 0 0 40px 10px rgba(128, 128, 128, 0.293);

}

footer .flex{
    justify-content: space-between; /*mandar os meus logos para direita*/
}

footer .line-footer{
    padding: 10px 0;
    padding-bottom: 0px;
   
}
footer .btn-social{
    margin-top: 40px;
}

footer .line-footer p i{
    color: #ebc678;
    font-size: 23px;
}

footer .line-footer p a {
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 1150px){

    /*Classes gerias*/

    .flex{
        flex-direction: column-reverse;
    }

    h2.titulo{
        font-size: 31px;
        line-height: 35px;
    }

    /*Cabeçalho*/
    .menu-desktop, .btn-contato{
        display: none;
    }

    /*Topo do site*/
    
    section.topo-do-site .flex{ 
        gap: 40px;
    }
    section.topo-do-site{
        padding: 20px 8%;
    }
    .topo-do-site h1{
        font-size:29px;
    }

    /*ESpecialidade*/
    section.especialidades{
        padding: 40px 8%;
    
    }

    /*Sobre*/
    section.sobre{
        padding: 70px 8%;
    }
    .sobre .txt-sobre h2{
        font-size: 33px;
        line-height: 36px;
        text-align: center;
    }

    .btn-social{
        text-align: center;
    }

    .img-sobre img{
        width: 100%;
    }

    /*Portifolio*/

    section.portifolio{
        padding: 80px 7%;
    }

    .img-port{
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
        
    }

    section.portifolio .flex{
   
        gap: 60px;
    }

    /*Rodape*/

    footer .flex{
        flex-direction: column;
    }

    footer .line-footer{
        text-align: center;
        padding-bottom: 10px;
    }

}
    
