.menu-icon {
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .menu-icon {
        display: block;
    }

    #nav-links {
        display: none;
        text-align: center;
    }

    #nav-links.show {
        display: block;
    }

    #nav-links ul {
        padding: 0;
    }

    #nav-links li {
        display: block;
        margin-bottom: 10px;
    }
}